<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">
    <title>list of vets</title>
</head>
<body>

<!--/*@thymesVar id="vet" type="com.example.demo.model.Vet"*/-->
    <h2 th:text="'Vets List'">Vets List ...</h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>FirstName</th>
            <th>LastName</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vet : ${vets}">
            <th th:text="${vet.id}">Id</th>
            <th th:text="${vet.firstName}">FirstName</th>
            <th th:text="${vet.lastName}">LastName</th>
        </tr>
        </tbody>
    </table>
</body>
</html>